* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: #1C36C9;
  color: #fff;
}
.container {
  background: #13258C;
  color: #fff;
  width: 500px;
  text-align: center;
  margin: 40px auto;
  padding: 40px;
  border-radius: 10px;
}
.inputField {
  margin: 20px;
}
.inputField input {
  padding: 10px;
  border: #f4f4f4 5px;
  border-radius: 5px;
}
.inputField label {
  display: block;
  margin-bottom: 5px;
}

/* Reference by id */

#exerciseField label {
  display: inline;
}
#topicsField input {
  margin-left: 10px;
}
#movies {
  padding: 5px 25px;
}
#submit {
  display: block;
  margin: auto;
  margin-top: 15px;
  padding: 10px 40px;
}
#submit:hover {
  background: #2545FF;
  color: #fff;
  cursor: pointer;
}
